/* 
    Created on : 7 Apr, 2016, 4:41:54 PM
    Author     : adisingh1992
*/

header{
    background-color: #393736;
}

#logo{
    color: orangered;
    font-size: 3vw;
    padding-top: 15px;
    text-shadow: 2px 2px 5px whitesmoke;
}

#search{
    padding: 3% 0 0 15%;
}

#search input{
    width: 80%;
    padding: 2%;
    border-radius: 5px;
    border: 0;
}

#login-box{
    padding: 5% 0 0 10%;
    color: orangered;
    font-size: 1.5vw;
    text-decoration: none;
}

#slider-img{
    padding: 0;
}